<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>JavaWebApp</servlet-name>
    <servlet-class>com.bsu.project.JavaWebApp</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JavaWebRun</servlet-name>
    <servlet-class>com.bsu.project.JavaWebRun</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JavaWebGet</servlet-name>
    <servlet-class>com.bsu.project.JavaWebGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JavaWebStaticPage</servlet-name>
    <servlet-class>com.bsu.project.JavaWebStaticPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JavaCheck</servlet-name>
    <servlet-class>com.bsu.project.JavaCheckWeb</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JavaFirstTest</servlet-name>
    <servlet-class>com.bsu.project.JavaFirstTester</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JavaSecondTest</servlet-name>
    <servlet-class>com.bsu.project.JavaSecondTester</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostWeb</servlet-name>
    <servlet-class>project.servlets.com.PostServlet</servlet-class>
  </servlet>
<servlet>
  <servlet-name>PagePosts</servlet-name>
  <servlet-class>project.servlets.com.PagePostsServlet</servlet-class>
</servlet>
  <servlet>
    <servlet-name>LogUserServlet</servlet-name>
    <servlet-class>project.servlets.com.LogInServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>project.servlets.com.LikeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>project.servlets.com.LogOutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JavaWebApp</servlet-name>
    <url-pattern>/pht</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JavaWebRun</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JavaWebGet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JavaWebStaticPage</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JavaCheck</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JavaFirstTest</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JavaSecondTest</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>JavaFilt</filter-name>
    <filter-class>com.bsu.project.JavaFilter</filter-class>
  </filter>

  <servlet-mapping>
    <servlet-name>LogUserServlet</servlet-name>
    <url-pattern>/logpage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PostWeb</servlet-name>
    <url-pattern>/photo-post</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PagePosts</servlet-name>
    <url-pattern>/photo-posts</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>

  <filter-mapping>
    <filter-name>JavaFilt</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  
  
</web-app>
